<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.iam.infra.api.gateway.db.ApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ark.center.iam.domain.api.Api">
        <result column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="url" property="uri"/>
        <result column="method" property="method"/>
        <result column="auth_type" property="authType"/>
        <result column="status" property="status"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gmt_modified,
        gmt_create,
        category_id,
        application_id,
        name, method, status, uri
    </sql>
    <select id="selectApiList" resultType="com.ark.center.iam.client.api.dto.ApiDetailsDTO">
        select a.*,
        p.id as permissionId
        from iam_api a
        inner join iam_permission p on a.id = p.resource_id
        <where>
            <if test="qry.applicationId != null">
                AND a.application_id = #{qry.applicationId}
            </if>
            <if test="qry.categoryId != null">
                AND a.category_id = #{qry.categoryId}
            </if>
            <if test="qry.authType != null">
                AND a.auth_type = #{qry.authType}
            </if>
            AND p.type = 'SER_API'
            AND a.is_deleted = 0
        </where>
    </select>

</mapper>
