<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.iam.infra.usergroup.gateway.db.UserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ark.center.iam.infra.usergroup.gateway.db.UserGroup">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="level" property="level"/>
        <result column="inherit_type" property="inheritType"/>
        <result column="type" property="type"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gmt_create,
        gmt_modified,
        name
    </sql>

    <insert id="batchInsert">
        insert into iam_user_group_user_rel(user_id, user_group_id)
        values
        <foreach collection="userGroupIds" item="item" separator=",">
            (#{userId}, #{item})
        </foreach>
    </insert>

    <select id="selectUserGroupIdsByUserId" resultType="java.lang.Long">
        select uugur.user_group_id
        from iam_user_group_user_rel uugur
        where user_id = #{userId}
    </select>

    <select id="selectUserGroupNamesByUserId" resultType="java.lang.String">
        select ug.name
        from iam_user_group_user_rel ugur
        inner join iam_user_group ug on ug.id = ugur.user_group_id
        where ug.status = 1
        and ug.is_deleted = 0
        and ugur.user_id in
        <foreach collection="userGroupIds" open="(" close=")" item="item" separator=",">
            (#{userId}, #{item})
        </foreach>
    </select>

    <select id="selectUserGroupsByUserId" resultType="com.ark.center.iam.infra.usergroup.gateway.db.UserGroup">
        select ug.id,
               ug.inherit_type,
               ug.level,
               ug.level_path,
               ug.pid
        from iam_user_group ug
                 inner join iam_user_group_user_rel ugur on ugur.user_group_id = ug.id
        where ug.status = 1
          and ug.is_deleted = 0
          and ugur.user_id = #{userId}
    </select>

    <select id="selectUserGroupsByUserIds" resultType="com.ark.center.iam.domain.usergroup.vo.UserGroupVO">
        select ugur.user_id as userId,
               ug.name as userGroupName,
               ug.id as userGroupId
        from iam_user_group ug
                 inner join iam_user_group_user_rel ugur on ugur.user_group_id = ug.id
        where ug.status = 1
        and ug.is_deleted = 0
        and ugur.user_id in
        <foreach collection="userGroupIds" open="(" close=")" item="item" separator=",">
            (#{userId}, #{item})
        </foreach>
    </select>

</mapper>
