<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.iam.infra.route.gateway.db.RouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ark.center.iam.domain.route.Route">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="name" property="name"/>
        <result column="component" property="component"/>
        <result column="path" property="path"/>
        <result column="type" property="type"/>
        <result column="level_path" property="levelPath"/>
        <result column="application_id" property="applicationId"/>
        <result column="level" property="level"/>
        <result column="status" property="status"/>
        <result column="sequence" property="sequence"/>
        <result column="pid" property="pid"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <result column="hide_children" property="hideChildren"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        code,
        component,
        pid,
        level_path,
        level,
        path,
        icon,
        type,
        sequence,
        status,
        hide_children,
        gmt_create,
        gmt_modified,
        creator,
        modifier
    </sql>

    <select id="selectDetailsPages" resultType="com.ark.center.iam.client.route.dto.RouteDetailsDTO">
        SELECT
        r.*,
        a.name as applicationName,
        p.code as permissionCode,
        p.id as permissionId
        FROM iam_route r
        inner join iam_permission p on p.resource_id = r.id
        inner join iam_application a on a.id = r.application_id
        <where>
            <if test="params.name != null and params.name != ''">
                AND r.name LIKE CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params.applicationId != null">
                AND r.application_id = #{params.applicationId}
            </if>
            <if test="params.pid != null">
                AND r.pid = #{params.pid}
            </if>
            <if test="params.status != null">
                AND r.status = #{params.status}
            </if>
        </where>
        AND p.type = 'FRONT_ROUTE'
        AND r.pid = 0
        AND r.is_deleted = 0
        ORDER BY r.`sequence`
    </select>

    <select id="selectSubRoutes" resultType="com.ark.center.iam.client.route.dto.RouteDetailsDTO">
        SELECT
        r.*,
        a.name as applicationName,
        p.code as permissionCode,
        p.id as permissionId
        FROM iam_route r
        inner join iam_permission p on p.resource_id = r.id
        inner join iam_application a on a.id = r.application_id
        AND r.pid != 0
        AND r.is_deleted = 0
        AND p.type = 'FRONT_ROUTE'
    </select>

    <select id="selectDetails" resultType="com.ark.center.iam.client.route.dto.RouteDetailsDTO">
        SELECT
        r.*,
        a.name as applicationName,
        p.code as permissionCode,
        p.id as permissionId,
        rp.name as parentRouteName
        FROM iam_route r
        inner join iam_permission p on p.resource_id = r.id
        inner join iam_application a on a.id = r.application_id
        inner join iam_route rp on rp.id = r.pid
        where r.is_deleted = 0 and r.id = #{id}
    </select>

</mapper>
