<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.iam.infra.permission.gateway.db.PermissionRoleRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ark.center.iam.infra.permission.gateway.db.PermissionRoleRel">
        <result column="id" property="id"/>
        <result column="gmt_create" property="createTime"/>
        <result column="gmt_modified" property="updateTime"/>
        <result column="permission_id" property="permissionId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gmt_create,
        gmt_modified,
        permission_id, role_id
    </sql>
    <insert id="batchInsert">
        insert into iam_permission_role_rel (permission_id, role_id)
        values
        <foreach collection="permissionIds" item="item" separator=",">
            (#{item}, #{roleId})
        </foreach>
    </insert>

    <select id="selectRoleNamesByUserId" resultType="java.lang.String">
        select ur.name
        from iam_user_role_rel uurr
                 inner join iam_role ur on uurr.role_id = ur.id
        where uurr.user_id = #{userId}
          and ur.status = 1
          and ur.is_deleted = 0
    </select>

    <select id="selectRoleIdsByUserGroupId" resultType="java.lang.Long">
        select ur.id
        from iam_user_group_role_rel uurr
                 inner join iam_role ur on uurr.role_id = ur.id
        where uurr.user_group_id = #{userGroupId}
          and ur.status = 1
          and ur.is_deleted = 0
    </select>

    <select id="selectRoleNamesByUserGroupId" resultType="java.lang.String">
        select ur.name
        from iam_user_group_role_rel uurr
                 inner join iam_role ur on uurr.role_id = ur.id
        where uurr.user_group_id = #{userGroupId}
          and ur.status = 1
          and ur.is_deleted = 0
    </select>

    <select id="selectByRoleIdAndType"
            resultType="com.ark.center.iam.infra.permission.gateway.db.PermissionRoleRel">

        select uprr.id
        from iam_permission up
                 inner join iam_permission_role_rel uprr on uprr.permission_id = up.id
        where role_id = #{roleId}
          and up.type = #{type}
          and up.application_id = #{applicationId}

    </select>
    <select id="selectByPermissionIdAndRoleId"
            resultType="com.ark.center.iam.infra.permission.gateway.db.PermissionRoleRel">

        select uprr.id
        from iam_permission up
                 inner join iam_permission_role_rel uprr on uprr.permission_id = up.id
        where up.application_id = #{applicationId}
          and uprr.role_id = #{roleId}
          and uprr.permission_id in
        <foreach collection="permissionIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
